.custom-textarea {
  
    width: 300px;    /* Specify your desired width */
    height: 200px;   /* Specify your desired height */
    overflow-y: auto; /* Enable vertical scrolling if content overflows */
  }
  .bg-black {
      background-color: black;
  }
  .text-white {
      color:white;
  }
  
  .custom-container{
    margin-left: 20%; 
    margin-top: 10%;  
  
  }
  
  .custom-buttons{
    margin-left: 20%; 
    margin-top: 1%;  
  
  }